name: Deploy to Production

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Create a GitHub Deployment
        id: deployment
        uses: chrnorm/deployment-action@releases/v1
        with:
          environment: production
          token: ${{ secrets.GITHUB_TOKEN }}
          transient-environment: false
          production-environment: true

      - name: Update Deployment Status to success
        uses: chrnorm/deployment-status@releases/v1
        with:
          environment: production
          token: ${{ secrets.GITHUB_TOKEN }}
          state: success
          
